<html>
{% include 'header.html' %} {% include 'admin/header.html' %}
<body>
    <div class="container">
        {% if isShuttingDown %}
        <div class="container">
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <strong>Server Stopped!</strong> {{isShuttingDown}} To restart the server, you will have to manually restart it from the console...
            </div>
        </div>
        {% endif %} {% if isLoggingOut %}
        <div class="container">
            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <strong>You have been logged out!</strong> To login, click the home button.
            </div>
        </div>
        {% endif %}
            <div style="float: left; width: 30%">
                <form action="/admin/dashboard" method="post">
                    <div style="float: left; width: 100%">
                        <label>Ban an IP Address</label> 
						<div class="input-group">
							<span class="input-group-addon" id="ip">IP</span>
							<input style="float: left; width: 75%"class="form-control" type="text" name="ban_ip" id="ban_ip" placeholder="Insert IP Address">
							<button style="float: left; width: 25%"class="btn btn-warning" type="submit" name="Ban" value="Ban IP">Submit</button>
						</div>
                    </div>
                </form>
            </div>
            <div style="float: right; width: 50%">
                <form action="/admin/dashboard" method="post">
                    <p style="float: left; width: 25%"><strong>Shut down server?</strong></p>
                    <button style="float: left; width: 25%" class="btn btn-danger" type="submit" name="kill" value="Stop Server">Stop Server :(</button>
                </form>
            </div>
            <p></p>
            {% if session.username %}
            <div style="float: right; width: 50%">
                <form action="/admin/dashboard" method="post">
                    <p style="float: left; width: 25%"><strong>LOG OUT?</strong></p>
                    <button style="float: left; width: 25%" class="btn btn-danger" type="submit" name="kill" value="Log Out">Log out :(</button>
                </form>
            </div>
            {% endif %}
            <!--
                close server down
                ban ips
                clear chat
                kick all
                -->
    </div>
    <div class="container">
        {{session.username}} {{session.password}}
    </div>
</body>
</html>
