<html>
{% include 'header.html' %} {% include 'admin/header.html' %}

<body>
    <div class="container">
        {% if redBody %}
        <div class="container">
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <strong>{{redTitle}}</strong> {{redBody}}
            </div>
        </div>
        {% endif %} {% if YellowBody %}
        <div class="container">
            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <strong>{{YellowTitle}}</strong> {{YellowBody}}
            </div>
        </div>
        {% endif %}
        <div style="float: left; width: 30%">
            <form action="/admin/dashboard" method="post">
                <div style="float: left; width: 100%">
                    <label>Ban an IP Address</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="ip">IP</span>
                        <input style="float: left; width: 75%" class="form-control" type="text" name="ban_ip" id="ban_ip" placeholder="Insert IP Address">
                        <button style="float: left; width: 25%" class="btn btn-warning" type="submit" name="Ban" value="Ban IP">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div style="float: right; width: 50%">
            <form action="/admin/dashboard" method="post">
                <p style="float: left; width: 25%"><strong>Shut down server?</strong></p>
                <button style="float: left; width: 25%" class="btn btn-danger" type="submit" name="command" value="Stop Server">Stop Server :(</button>
            </form>
        </div>
        <p></p>
        {% if session.username %}
        <BR>&nbsp;
          <BR>
        <div style="float: right; width: 50%">
            <form action="/admin/dashboard" method="post">
                <p style="float: left; width: 25%"><strong>LOG OUT?</strong></p>
                <button style="float: left; width: 25%" class="btn btn-danger" type="submit" name="command" value="Log Out">Log out :(</button>
            </form>
        </div>
        {% endif %}
        <!--
                close server down
                ban ips
                clear chat
                kick all
                -->
    </div>
    <BR>&nbsp;
    <BR>
    <div class="container">
        <div style="float: left; width: 30%">
            <form action="/admin/dashboard" method="post">
                <label><strong>Delete User</strong></label>
                <div class="input-group">
                    <span class="input-group-addon" id="ip">Username</span>
                    <input style="float: left; width: 65%" class="form-control" type="text" name="username_to_delete" id="username_to_delete" placeholder="Insert Username">
                    <button style="float: left; width: 35%" class="btn btn-warning" type="submit" name="command" value="Remove User">Submit</button>
                </div>
            </form>
        </div>
        <div style="float: left; width: 50%">
            <p></p>
        </div>
    </div>
    <div class="container">
        <div style="float: left; width: 30%">
            <form action="/admin/dashboard" method="post">
                <label><strong>Ban User</strong></label>
                <div class="input-group">
                    <span class="input-group-addon" id="ip">Username</span>
                    <input style="float: left; width: 65%" class="form-control" type="text" name="username_to_ban" id="username_to_ban" placeholder="Insert Username">
                    <button style="float: left; width: 35%" class="btn btn-warning" type="submit" name="command" value="Ban User">Submit</button>
                </div>
            </form>
        </div>
        <div style="float: left; width: 50%">
            <p></p>
        </div>
    </div>
    <div class="container">
        {{session.username}} {{session.password}}
    </div>
</body>

</html>
