<!--Dashboard-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin Dashboard</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link ... href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link ... href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet" />
    <link ... href="{{ url_for('static', filename='css/skeleton.css') }}" rel="stylesheet" />
    <link ... href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
</head>
{% include 'admin/header.html' %}
<div class="container">
    {% if isShuttingDown %}
    <div class="container">
        <h1>Server Shutting down...</h1>
        <p>To restart the server, you will have to manually restart it from the console...</p>
    </div>
    {% endif %}
    <div style="float: left; width: 50%">
        <form action="/admin/dashboard" method="post">
            <div style="float: left; width: 40%">
                <input type="text" name="ban_ip" id="ban_ip" placeholder="IP Address"></input>
            </div>
            <div style="float: left; width: 25%">
                <button class="btn btn-warning" type="submit" name="Ban" value="Ban IP" />Submit Ban IP</button>
            </div>
        </form>
    </div>
    <div style="float: right; width: 50%">
        <form action="/admin/dashboard" method="post">
            <p style="float: left; width: 25%"><strong>Shut down server?</strong></p>
            <button style="float: left; width: 25%" class="btn btn-danger" type="submit" name="kill" value="Stop Server" />Stop Server :(</button>
        </form>
    </div>
    <!--
        close server down
        ban ips
        clear chat
        kick all
        -->
</div>

</html>
