<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="./">Chatbox</a>
  </div>
  <div class="collapse navbar-collapse navbar-menubuilder">
    <ul class="nav navbar-nav navbar-left">
      <li>
        <a href="/chat">Chat</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right pad-right-navbar">
      {% if session.loggedIn %}
        <li>
          <a href="/profile">{{session.friendlyname}}</a>
        </li>
        <li>
          <a href="/logout">Logout</a>
        </li>
      {% else %}
        <li>
          <a href="/login">Login</a>
        </li>
      {% endif %}
    </ul>

  </div>
</nav>