<html>

<head>
    {% include 'stylesheets.html' %}
    <script type="text/javascript" src="/static/js/functions/chat.js"></script>
</head>

<body>
    {% include 'navbars/indexbar/indexbar.html' %}
    <div class="navbar-padding-to-nearmid">
        <p>fsdfsdfsdfsdf</p>
        <div>
            <div class="input-group">
                <span class="input-group-btn">
            <button class="btn btn-primary" id="submit-button" type="button">$</button>
          </span>
                <input type="text" class="form-control" id="chat-box" placeholder="/help">
            </div>
        </div>
    </div>
</body>

</html>
