<html>
  <head>
    {% include 'stylesheets.html' %}
  </head>
  <body>
    {% include 'navbars/indexbar/indexbar.html' %}
    <div class="navbar-padding-to-nearmid">
      <script>
        $(document).ready(function () {
          $('#chat-box').keypress(function (e) {
            if (e.keyCode == 13) 
              $('#submit-button').click();
            }
          );
        });
      </script>
      <p>fsdfsdfsdfsdf</p>
      <form>
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-primary" id="submit-button" type="button">$</button>
          </span>
          <input type="text" class="form-control" id="chat-box" placeholder="Search for...">
        </div>
      </form>
    </div>

  </body>

</html>