<html>
  <head>
    {% include 'stylesheets.html' %}
  </head>
  <body>
    {% include 'navbars/indexbar/indexbar.html' %}
    <div class="container">

      <div class="navbar-padding">
        <div class="page-header">
          <h1>Welcome to Chatbox
          </h1>
        </div>
        <h3 class="center-align-main">
          <small>
            It looks like you're not logged in, unfortunatley without logging in, you won't be able to use ChatBox, alternately if you don't have an account, you can make one.
          </small>

        </h3>
        <p>
          <ul>
            <li>
              <a href="/login">Click here to login</a>
            </li>
            <li>
              <a href="/signup">Click here to make a shiny new account</a>
            </li>
          </ul>
        </p>
      </div>​
    </div>
  </body>
</html>