<html>
{% include 'header.html' %}

<body role="document">
    {% include 'admin/header.html' %}
    <div class="container theme-showcase" role="main">
        <p></p>
        <div class="jumbotron">
            <div class="container">
                {% if isBanned %}
                <p>You is banned</p>
                {% else %} {% if session.email %}
                <div>
                    <p> You are logged in as {{session.email}}.</p>
                </div>
                {% else %}
                <div></div>
                <p> You are not logged in,
                    <a href="/login">click here to login.</a>
                </p><a href="/database">Click here</a> to go to the database checker.
            </div>
            {% endif %} {% endif %}
        </div>
    </div>
    </div>
</body>

</html>
