<html>
  <head>
    {% include 'stylesheets.html' %}
    <script type="text/javascript" src="/static/js/functions/newaccount.js"></script>
  </head>
  <body>
    {% include 'navbars/signup/indexbar.html' %}
    <div class="container navbar-padding-to-nearmid">
      <div class="row">
        <div class="col-md-3"><img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive"></div>
        <div class="col-md-9">
          <div class="section">
            <div class="container">
              <div class="row">
                <div class="col-md-9">
                  <div class="section">
                    <div class="container">
                      <div class="row">
                        <h1>Register</h1>
                      </div>
                    </div>
                    <div role="form">
                      <div class="form-group" id="firstlastnameinputgrp">

                        <div class="row">
                          <div class="col-lg-6">
                            <label class="control-label" for="exampleInputEmail1">First Name</label>
                            <div class="form-group"><input class="form-control" id="firstnameinput" placeholder="Dave" type="text"></div>
                          </div>
                          <div class="col-lg-6">
                            <label class="control-label" for="exampleInputEmail2">Last Name</label>
                            <div class="form-group"><input class="form-control" id="lastnameinput" placeholder="Jones" type="text"></div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group" id="friendlynameinputgrp">
                        <label class="control-label" for="exampleInputEmail1">What should we call you?</label><input class="form-control" id="friendlynameinput" placeholder="This is how we will address you." type="text"></div>
                      <div class="form-group" id="usernameinputgrp">
                        <label class="control-label" for="exampleInputPassword1">What would you like your Username to be?</label><input class="form-control" id="usernameinput" placeholder="This has to be unique!" type="text"></div>
                      <div class="form-group" id="emailinputgrp">
                        <label class="control-label">Email<br></label><input class="form-control" type="email" id="emailinput" placeholder="We won't send you spam"></div>
                      <div class="form-group" id="repeatemailinputgrp">
                        <label class="control-label">Repeated Email<br></label><input class="form-control" id="repeatemailinput" type="email"></div>
                      <div class="form-group" id="passwordgrp">
                        <label class="control-label">Password<br></label><input class="form-control" id="password" type="password" placeholder="Make sure to choose a really hard one!"></div>
                      <div class="form-group" id="repeatedpasswordgrp">
                        <label class="control-label">Repeated Password<br></label><input class="form-control" id="repeatedpassword" type="password"></div>
                      <div class="form-group" id="genderDropdowngrp">
                        <label class="control-label">Gender<br></label>
                        <select class="form-control" id="genderDropdown">
                          <option>Id prefer not to say</option>
                          <option>Male</option>
                          <option>Female</option>
                        </select>
                      </div>
                      <button
                        onclick="Sijax.request('create_account', [$('#firstnameinput').val(),
                      $('#lastnameinput').val(),
                      $('#friendlynameinput').val(),
                      $('#usernameinput').val(),
                      $('#emailinput').val(),
                      $('#repeatemailinput').val(),
                      $('#password').val(),
                      $('#repeatedpassword').val(),
                      $('#genderDropdown').val()]);"
                        class="btn btn-success">Make Account</button>
                      <div id="feedback_error"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>