<html>
  <head>
    {% include 'stylesheets.html' %}
  </head>
  <body>
    {% include 'navbars/indexbar/indexbar.html' %}
    <div class="container navbar-padding-to-nearcenter">

      <a data-toggle="modal" href="#txtbox" class="btn btn-primary btn-large">Launch demo modal</a>

      <div class="modal fade" id="txtbox">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h4 class="modal-title">Thanks for signing up</h4></div>
                  <div class="modal-body">
                      <p>textarea</p>
                  </div>
                  <div class="modal-footer"><a class="btn btn-default" data-dismiss="modal">Close</a><a class="btn btn-primary">Save changes</a></div>
              </div>
          </div>
      </div>
  </body>

</html>
