<html>

<html>
  <head>
    {% include 'stylesheets.html' %}
  </head>
  <body>
    {% include 'navbars/indexbar/indexbar.html' %}
    <div class="container navbar-padding-to-nearcenter">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4"> <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive"> </div>
                <div class="col-md-8">
                    <h1>Thanks for Registering</h1>
                    <h3>You can now login with your new account</h3>
                    <p>You dont need to verify your account with an email, you are all set!
                        <br>
                        <br>Thank you for joining ChatBox.
                        <br>
                        <br>
                        <br>
                    </p><a href="../login" class="btn btn-lg btn-primary">Get Started with ChatBox</a></div>
            </div>
        </div>
    </div>
</body>

</html>
